head{	background-color: #0099CC;}
body {
  padding-left: 5px;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #66CCCC }
nav { 	float: left;
		width: 150px;
		position: relative;		
		}		
nav a {	text-decoration: none;}		
nav ul{	list-style-type: none;
		display: block;
		}

nav ul li{	border:1px solid #000000;
		background-color: #0099CC;		
		}


nav ul ul{	position: absolute;
		background-color: #66CCFF;
		padding: 0;
		text-align: left;
		display: none;
}
nav ul ul li{	border:1px solid #000000;
				display: block;
				width: 80px;
				padding-left: 50px;
				margin-left: 0;
}
nav a:hover ul{ display: block;}
main {	margin-left: 150px;
		margin-right:150px;
		background-color: #FFFFFF;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
page_name{ background-color: #CCCCFF;}
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
form {	background-color:#FFFFFF;
		font-family:Arial, sans-serif;
		padding: 10px;}
label {	float: left;
		width: 50px;
		text-align: right;
		padding-right: 10px;
		margin-top: 10px;}
input, textarea {	margin-top: 10px;
					}
#submit,#reset {	margin-left: 10px;
			display:inline;} 
.error {	font-family: Arial, sans-serif;
		font-style: italic;
		font-size: .90em;
		color: #FF0000;
		margin-left: 1em;}
table {
			border: 5px solid #000066;
			background-color: E9E9E9;
			align: center;
			}
	.headings {
			font-weight: bold;
			}
	caption {
			font-weight: bold;
			font-size: 1.2em;
			color: white;
			background-color: #36454f;
			}
	td,th { 
		border: 1px solid #000066;
		}
#page_title {padding-left: 150px;}

